@model IEnumerable<IdentityApp.Models.ApplicationUser>
@{
    ViewBag.Title = "Список пользователей";
}

<a asp-controller="Users" asp-action="UnBlock">Разблокировать</a>
<a asp-controller="Users" asp-action="Block">Заблокировать</a>
<a asp-controller="Users" asp-action="Delete">Удалить</a>







    <table class="table">
<<<<<<< HEAD
       
        <tr>
            <th><input type="checkbox" class="checkboxClas" /></th>
        <th>Email</th>
        <th>LastLoginDate</th>
        <th>LastRegistrationDate</th>
        <th>Name</th>
        <th>Status</th>
        <th>Id</th>
        </tr>
=======
        <tr><th>CheckBoxes</th><th>Email</th><th>LastLoginDate</th><th>LastRegistrationDate</th><th>Name</th><th>Status</th><th>Id</th></tr>
>>>>>>> 8fd4a6dbe2df0f7f653b7e7465f0bf71ecc57590

        @foreach (var user in Model)
        {
    <tr>
<<<<<<< HEAD
        <td><input type="checkbox" name="State"  asp-for="@user.IsChecked" class="checkboxClass" data-number="@user.Id" id="state"/> </td>
=======
        <td><input type="checkbox"  asp-for="@user.IsChecked" class="checkboxClass" data-number="@user.Id"/> </td>
>>>>>>> 8fd4a6dbe2df0f7f653b7e7465f0bf71ecc57590
        <td>@user.Email</td>
        <td>@user.LastLoginDate</td>
        <td>@user.LastRegistrationDate</td>
        <td>@user.Name</td>
        <td>@user.Status</td>
        <td>@user.Id</td>
    </tr>
        }
    </table>



