@model IEnumerable<IdentityApp.Models.ApplicationUser>
@{
    ViewBag.Title = "Список пользователей";
}

<a asp-controller="Users" asp-action="UnBlock">Разблокировать</a>
<a asp-controller="Users" asp-action="Block">Заблокировать</a>
<a asp-controller="Users" asp-action="Delete">Удалить</a>







    <table class="table">
       
        <tr>
            <th><input type="checkbox" class="checkboxClas" /></th>
        <th>Email</th>
        <th>LastLoginDate</th>
        <th>LastRegistrationDate</th>
        <th>Name</th>
        <th>Status</th>
        <th>Id</th>
        </tr>

        @foreach (var user in Model)
        {
    <tr>
        <td><input type="checkbox" name="State"  asp-for="@user.IsChecked" class="checkboxClass" data-number="@user.Id" id="state"/> </td>
        <td>@user.Email</td>
        <td>@user.LastLoginDate</td>
        <td>@user.LastRegistrationDate</td>
        <td>@user.Name</td>
        <td>@user.Status</td>
        <td>@user.Id</td>
    </tr>
        }
    </table>



